@import url("https://fonts.googleapis.com/css?family=Teko:400,700");
html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
  font-family: 'Teko', Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5em;
  background: #411411;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}
header .title-intro {
  padding-left: 4%;
  line-height: 50px;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 0.1em;
}

.btn {
  padding-right: 4%;
  background: none;
  line-height: 50px;
  border: 0 none;
  outline: none;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.btn .icontop,
.btn .iconmid,
.btn .iconbot {
  display: block;
  width: 26px;
  height: 1px;
  margin-top: 4px;
  background-color: #777;
}
.btn .iconmid {
  width: 20px;
}
.btn .iconbot {
  width: 16px;
}

.close {
  float: right;
  margin: 10px 15px;
  color: #414141;
  font-size: 3rem;
  font-weight: normal;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.close:hover, .close:focus {
  color: #999;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}

.modal {
  display: none;
  position: fixed;
  padding-top: 180px;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  position: relative;
  margin: 0 auto;
  width: 50%;
  padding: 0;
  border: 1px solid #777;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  animation: animatetop .6s;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.modal .modal-content:hover {
  box-shadow: 2px 2px 15px black;
}
.modal .modal-content .navbar {
  margin: 40px 0;
  text-align: center;
}
.modal .modal-content .navbar a {
  display: block;
  padding: 10px 12px;
  font-size: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #777;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.modal .modal-content .navbar a:hover {
  color: #414141;
}
@media (min-width: 768px) {
  .modal .modal-content {
    width: 60%;
  }
}
@media (min-width: 992px) {
  .modal .modal-content {
    width: 80%;
  }
}

@-moz-keyframes animatetop {
  0% {
    top: -300px;
    opacity: 0;
    width: 0%;
  }
  10% {
    opacity: 0.2;
    width: 20%;
    background: white;
  }
  30% {
    opacity: 0.4;
    width: 40%;
  }
  100% {
    width: 100%;
    top: 0;
    opacity: 1;
    background: black;
  }
}
@-webkit-keyframes animatetop {
  0% {
    top: -300px;
    opacity: 0;
    width: 0%;
  }
  10% {
    opacity: 0.2;
    width: 20%;
    background: white;
  }
  30% {
    opacity: 0.4;
    width: 40%;
  }
  100% {
    width: 100%;
    top: 0;
    opacity: 1;
    background: black;
  }
}
@keyframes animatetop {
  0% {
    top: -300px;
    opacity: 0;
    width: 0%;
  }
  10% {
    opacity: 0.2;
    width: 20%;
    background: white;
  }
  30% {
    opacity: 0.4;
    width: 40%;
  }
  100% {
    width: 100%;
    top: 0;
    opacity: 1;
    background: black;
  }
}
